# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TankPYGAME.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Programowanie\RiderProjects\TankPYGAME\.idea\.idea.TankPYGAME\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
